.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 15px;
  margin: auto;
}

.bg {
  background-color: #F8CE00;
  width: 100%;
}

.header__logo {
  max-height: 95px;
  max-width: 150px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.nav__ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nav__li {
  display: flex;
  align-items: center;
}

.cart-no {
  position: absolute;
  top: -12px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background: rgb(255, 123, 0);
  color: white;
  font-size: 12px;
}

.nav__a {
  position: relative;
  text-decoration: none;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav__a i {
  margin-right: 9px;
}


@media (max-width: 375px) {
  
  .header__logo {
    max-height: 60px;
    max-width: 90px;
  }

  .nav__ul {
    gap: 10px;
  }

  .nav__a {
    font-size: 9px;
  }
}

